body {
    background-color: rgba(82, 125, 153, 0.466);
    color: rgb(26, 1, 1)
} 
header{
   color: #11e0e7;
   font-size: 22px;
} 
}

h1 {
    color: #1b1d20;
    font-size: 22px;
}

p {
    color: #360606;
font-size: 18px;
}

header{
    border-bottom: solid 2px blue;
    font-size: 40px;
    color: rgba(1, 12, 22, 0.89);
    padding: 15px;

}
